.navbarStyle {
    padding: 0.5rem 1rem !important;
}

.navbarButton {
    color: #fff !important;
    padding: 0.5rem 1rem !important;
}

.iconText {
    margin: 0 0.5rem;
}

.navbarStyle {
    padding: 0.5rem 1rem;
}

.navbarButton {
    color: #fff !important;
}

.user-info-div,.messsages-div {
  float:left;
  padding:12px;
  width:100%
}

.pbi-div{
  padding:12px;
  width:40%;
  float:left
}
.streaming-div{
  padding:12px;
  width:60%;
  height:1200px;
  float:left
}

.box-div {
  width:200px;
  margin:12px;
  padding:12px;
  text-wrap:wrap;
}

.signInButton {
    margin: 1rem;
}

.bi-embedded{
  height:600px;
}