body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.navbarStyle {
    padding: 0.5rem 1rem !important;
    background-color: #111;
    position: absolute;
    top:0px;
    left:0px;
    right:0;
    height:58px;
    z-index:3;
}
.navbar-brand{color:#fff!important}

.navbarButton {
    color: #fff !important;
    padding: 0.5rem 1rem !important;
}

.iconText {
    margin: 0 0.5rem;
}

.navbarButton {
    color: #fff !important;
}

.user-info-div,.messsages-div {
  float:left;
  padding:12px;
  width:100%
}

.pbi-div{
  top:56px;
  left:0px;
  right:60%;
  bottom:0px;
  position: absolute;
  z-index:2;
}
.streaming-div{
  top:55px;
  left:0px;
  right:0px;
  bottom:0px;
  position: absolute;
  z-index:1;
}

.box-div {
  width:200px;
  margin:12px;
  padding:12px;
  text-wrap:wrap;
}

.signInButton {
    margin: 1rem;
}

.bi-embedded{
  height:600px;
}